aiofiles
aioredis
alembic
loguru
fastapi
uvicorn
SQLAlchemy
python-jose
passlib
PyMySQL
gunicorn
databases[mysql]
mysql-connector-python
redis
casbin
casbin_sqlalchemy_adapter
pydantic[email]
python-multipart
APScheduler
bcrypt
# cookiecutter